In [1]:
import pandas as pd
import numpy as np

In [2]:
vdf = pd.read_csv('fruitvegprices-2017_2022.csv')

In [ ]:
vdf['date'] = pd.to_datetime(vdf['date'])

In [ ]:
vdf["date Year"] = vdf["date"].dt.year
vdf["date Month"] = vdf["date"].dt.month

In [836]:
vdf

,category,item,variety,date,price,unit,date Year,date Month
0,fruit,apples,bramleys_seedling,2022-03-11,2.05,kg,2022,3
1,fruit,apples,coxs_orange_group,2022-03-11,1.22,kg,2022,3
2,fruit,apples,egremont_russet,2022-03-11,1.14,kg,2022,3
3,fruit,apples,braeburn,2022-03-11,1.05,kg,2022,3
4,fruit,apples,gala,2022-03-11,1.03,kg,2022,3
...,...,...,...,...,...,...,...,...
9642,cut_flowers,alstromeria,indoor,2017-11-03,0.27,stem,2017,11
9643,cut_flowers,chrysanthemum,indoor_spray,2017-11-03,0.22,stem,2017,11
9644,cut_flowers,lillies,oriental,2017-11-03,0.70,stem,2017,11
9645,cut_flowers,narcissus,indoor,2017-11-03,0.06,stem,2017,11
9646,pot_plants,cyclamen,13_cm,2017-11-03,0.75,unit,2017,11

## Ejercicios

### Ejercicio uno: realice un analisis de valores nulos

En caso de existir valores nulos elimine esos registros

In [846]:
analic_nulos = pd.DataFrame()

In [847]:
for anio in vdf.loc[ : , "date Year" ].drop_duplicates():
    vdf_year = vdf.loc[ vdf['date Year'] == anio , : ]    
    for columna in vdf_year.columns:        
        porcentage =  np.sum(pd.isna( vdf_year.loc[ : , columna ]  )) / vdf_year.shape[0]
        nue_df = pd.DataFrame({
            'year': [ anio ]
            , 'column' : [ columna ]
            , 'percentage de nulos' : [ porcentage ]
        })
        analic_nulos = pd.concat([analic_nulos, nue_df])

In [848]:
analic_nulos

   year      column  percentage de nulos
0  2022    category                  0.0
0  2022        item                  0.0
0  2022     variety                  0.0
0  2022        date                  0.0
0  2022       price                  0.0
0  2022        unit                  0.0
0  2022   date Year                  0.0
0  2022  date Month                  0.0
0  2021    category                  0.0
0  2021        item                  0.0
0  2021     variety                  0.0
0  2021        date                  0.0
0  2021       price                  0.0
0  2021        unit                  0.0
0  2021   date Year                  0.0
0  2021  date Month                  0.0
0  2020    category                  0.0
0  2020        item                  0.0
0  2020     variety                  0.0
0  2020        date                  0.0
0  2020       price                  0.0
0  2020        unit                  0.0
0  2020   date Year                  0.0
0  2020  date Month                  0.0
0  2019    category                  0.0
0  2019        item                  0.0
0  2019     variety                  0.0
0  2019        date                  0.0
0  2019       price                  0.0
0  2019        unit                  0.0
0  2019   date Year                  0.0
0  2019  date Month                  0.0
0  2018    category                  0.0
0  2018        item                  0.0
0  2018     variety                  0.0
0  2018        date                  0.0
0  2018       price                  0.0
0  2018        unit                  0.0
0  2018   date Year                  0.0
0  2018  date Month                  0.0
0  2017    category                  0.0
0  2017        item                  0.0
0  2017     variety                  0.0
0  2017        date                  0.0
0  2017       price                  0.0
0  2017        unit                  0.0
0  2017   date Year                  0.0
0  2017  date Month                  0.0

### Ejercicio dos: Por categoria, cuantos distintos items hay y cuantos distintos variety hay?

El resultado debe de tener el siguiente formato de presentacion:

In [26]:
pd.DataFrame({
    "category" : ['cut_flowers','fruit']
    , "item_count" : [9,10]
    , "variety_Count" : [10,21]
})

      category  item_count  variety_Count
0  cut_flowers           9             10
1        fruit          10             21

Como nota en un mismo dataframe mostramos todo lo solicitado, usted debe de mostrar todas las categorias

In [9]:
nuevo_vdf = vdf.loc[ :, ["category","item","variety"]].drop_duplicates()

In [12]:
nuevo_vdf = nuevo_vdf.groupby(["category"], as_index=False).agg({"item":["count"],"variety":["count"]})

In [13]:
nuevo_vdf.columns = nuevo_vdf.columns.droplevel(0)

In [14]:
nuevo_vdf.columns = ["category","item_count","variety_Count"]

In [15]:
nuevo_vdf

      category  item_count  variety_Count
0  cut_flowers          10             10
1        fruit          21             21
2   pot_plants           4              4
3    vegetable          50             50

### Ejercicio tres: Para la combinacion item, variety muestre el ultimo valor registrado por año.

Ejemplo de como debe de mostrar su respuesta

In [27]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year" : [2022]
    , "last_price" :  [3.2]
})

      item variety  year  last_price
0  Manzana    Gala  2022         3.2

In [668]:
ultimo_valor_vdf = vdf.loc[ :, ["item","variety","date Year","price"]]

In [669]:
ultimo_valor_vdf = ultimo_valor_vdf.sort_values(["date Year"], ascending=True)

In [670]:
ultimo_valor_vdf["rank"] = ultimo_valor_vdf.groupby(["item","variety","date Year","price"], as_index=False)["date Year"].rank(method="first", ascending=False)

In [672]:
ultimo_valor_vdf = ultimo_valor_vdf.loc[ ultimo_valor_vdf["rank"] == 1.0, :]

In [673]:
ultimo_valor_vdf = ultimo_valor_vdf.drop(["rank"], axis=1)

In [674]:
ultimo_valor_vdf.columns = ["item","variety","date Year","last price"]

In [675]:
ultimo_valor_vdf.drop_duplicates(["date Year"])

              item            variety  date Year  last price
9646      cyclamen              13_cm       2017        0.75
7701       lillies           oriental       2018        0.65
5523       cabbage  round_green_other       2019        0.50
3200       lettuce  butterhead_indoor       2020        0.39
1034  spinach_leaf      loose_bunches       2021        1.42
103         apples  other_late_season       2022        1.59

### Ejercicio cuatro: Segun el ejercicio tres, que tanto aumento o disminuyo el precio de cada item-variety 

Ejemplo de como se debe de mostrar su respuesta

In [28]:
pd.DataFrame({
    "item" : ['Manzana','Manzana','Manzana']
    , "variety" : ['Gala','Gala','Gala']
    , "year" : [2020,2021,2022]
    , "last_price" :  [2.7,2.5,3.2]
    , "delta" : [0, (2.5-2.7), (3.2-2.5)]
})

      item variety  year  last_price  delta
0  Manzana    Gala  2020         2.7    0.0
1  Manzana    Gala  2021         2.5   -0.2
2  Manzana    Gala  2022         3.2    0.7

Segun nuestro ejemplo dummy para 2021 estuvo 0.2 centavos mas barato y en 2022 estuvo 0.7 centavos caro

In [676]:
ultimo_valor_vdf = ultimo_valor_vdf.sort_values(["item","variety"])

In [677]:
ultimo_valor_vdf["delta"] = ultimo_valor_vdf.groupby(["item","variety","date Year"], as_index=False)["last price"].shift(1)

In [678]:
ultimo_valor_vdf = ultimo_valor_vdf.fillna(0)

In [679]:
ultimo_valor_vdf["disminuyo_aumento"] = (ultimo_valor_vdf["last price"] - ultimo_valor_vdf["delta"])

In [680]:
ultimo_valor_vdf

,item,variety,date Year,last price,delta,disminuyo_aumento
9387,alstromeria,indoor,2017,0.28,0.00,0.28
9434,alstromeria,indoor,2017,0.29,0.28,0.01
9304,alstromeria,indoor,2017,0.27,0.29,-0.02
9587,alstromeria,indoor,2017,0.26,0.27,-0.01
7698,alstromeria,indoor,2018,0.32,0.00,0.32
...,...,...,...,...,...,...
6282,watercress,pillow_packs,2019,7.92,9.45,-1.53
6363,watercress,pillow_packs,2019,9.68,7.92,1.76
6157,watercress,pillow_packs,2019,9.37,9.68,-0.31
6243,watercress,pillow_packs,2019,9.95,9.37,0.58
6200,watercress,pillow_packs,2019,9.90,9.95,-0.05

### Ejercicio cinco: Cual es precio promedio por item, variety

Ejemplo de como se debe de mostrar su respuesta

In [29]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year-month" : ['2021-01']   
    , "avg-price" : [0.5]
})

      item variety year-month  avg-price
0  Manzana    Gala    2021-01        0.5

In [77]:
promedio = vdf.loc[ :, ["item","variety","date","price"] ].drop_duplicates()

In [78]:
promedio["year-month"] = promedio["date"].dt.strftime('%Y-%m')

In [79]:
promedio = promedio.groupby(["item","variety","year-month"], as_index=False).agg({"price":["mean"]})

In [80]:
promedio.columns = promedio.columns.droplevel(0)

In [83]:
promedio.columns = ["item","variety","year-month","avg-price"]

In [84]:
promedio

             item       variety year-month  avg-price
0     alstromeria        indoor    2017-11     0.2700
1     alstromeria        indoor    2017-12     0.2800
2     alstromeria        indoor    2018-01     0.3100
3     alstromeria        indoor    2018-02     0.3275
4     alstromeria        indoor    2018-03     0.3040
...           ...           ...        ...        ...
2580   watercress  pillow_packs    2019-04     9.4750
2581   watercress  pillow_packs    2019-05     9.5000
2582   watercress  pillow_packs    2019-06     9.4900
2583   watercress  pillow_packs    2019-07     9.4975
2584   watercress  pillow_packs    2019-08     9.9640

[2585 rows x 4 columns]

### Ejercicio seis: muestre por category,item,variety que tanto % ha aumentado su precio

Ejemplo: si para las manzanas gala el primer precio que se registro fue 2.00 y el ultimo precio que se registro es 4.00 este aumento un 100%

In [36]:
pd.DataFrame({
    "category": ["fruta","fruta"]
    ,"item" : ['Manzana','Manzana']
    , "variety" : ['Gala','egremont_russet']
    , "percentage-change-between-first-and-last-price" : [200,150]       
})

,category,item,variety,percentage-change-between-first-and-last-price
0,fruta,Manzana,Gala,200
1,fruta,Manzana,egremont_russet,150

In [877]:
porcertanje_vdf = vdf.loc[ :, ["category","item","variety","price"] ]

In [878]:
porcertanje_vdf = porcertanje_vdf.groupby(["category","item","variety"], as_index=False).agg({"price":["max","min"]})

In [879]:
porcertanje_vdf.columns = porcertanje_vdf.columns.droplevel(0)

In [880]:
porcertanje_vdf.columns = ["category","item","variety","precio_maximo","precio_minimo"]

In [881]:
porcertanje_vdf["percentage-change-between-first-and-last-price"] = (porcertanje_vdf["precio_maximo"] - porcertanje_vdf["precio_minimo"])/100

In [882]:
porcertanje_vdf.loc[ :, ["category","item","variety","percentage-change-between-first-and-last-price"] ]

,category,item,variety,percentage-change-between-first-and-last-price
0,cut_flowers,alstromeria,indoor,0.0011
1,cut_flowers,chrysanthemum,indoor_spray,0.0008
2,cut_flowers,gladioli,all_varieties,0.0023
3,cut_flowers,lillies,oriental,0.0049
4,cut_flowers,narcissus,indoor,0.0005
...,...,...,...,...
80,vegetable,tomatoes,plum,0.0395
81,vegetable,tomatoes,round,0.0122
82,vegetable,tomatoes,vine,0.0374
83,vegetable,turnip,turnip,0.0155
84,vegetable,watercress,pillow_packs,0.0613

In [85]:
vdf.columns

Index(['category', 'item', 'variety', 'date', 'price', 'unit', 'date Year'], dtype='object')

### Ejercicio siete: Segun el ejercicio seis por category cual es el item,variety con mayor aumento de crecimiento 

Segun el ejemplo dummy que se utilizo en el ejercicio seis para la category fruta se mostraria la manzana gala unicamente

In [885]:
porcertanje_vdf = porcertanje_vdf.loc[ :, ["category","item","variety","percentage-change-between-first-and-last-price"]]

In [886]:
porcertanje_vdf = porcertanje_vdf.sort_values(["percentage-change-between-first-and-last-price"], ascending=False)

In [890]:
porcertanje_vdf.head(1)

,category,item,variety,percentage-change-between-first-and-last-price
29,fruit,raspberries,raspberries,0.1571